/*Basic style*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.home-body {
    background: linear-gradient(to right, #3a86ff 0%, #660066 100%);
    font-size: 80%;
    font-family: 'Orbitron', cursive;
    color: white;
}

/*Game intro*/
.game-intro-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.game-intro {
    width: 80vw;
    max-width: 90%;
    height: 90vh;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #FFBE0B;
    box-shadow: 0 0 5px 5px;
    border-radius: center;
    margin-top: 40px;
}
h1 {
    text-shadow: 10px 2px 5px blue;
    font-size: 70px;
    margin: 10px 0 20px;
}
h2 {
    text-shadow: 8px 2px 5px blue;
    font-size: 30px;
    margin: 10px 0 20px;
    letter-spacing: 2px;
}
p {
    margin: 10px auto;
    color: blue;
    text-shadow: 5px 4px 5px white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 1.6;
    -webkit-background-composite: border;
}
/*Username input button*/
.username-form {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.username {
    margin: 10px 0;
    padding: 10px 0;
    font-family: 'Orbitron', sans-serif;
}
#submit-btn {
    text-shadow: 2px 2px 2px white;
    margin: 10px;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    background-color: #FF006E;
    cursor: grab;
}
#submit-btn:hover {
    background-color: #8338EC;
}

/*Quiz page*/

.quiz-body {
    background: linear-gradient(to right, #ffbe0b 0%, #ff006e 100%);
    font-size: 80%;
    font-family: 'Orbitron', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz-container {
    width: 80vw;
    max-width: 90%;
    height: 90vh;
    display: flex;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #3a86ff;
    box-shadow: 0 0 5px 5px;
    border-radius: center;
    margin-top: 40px;
}

.quiz-score {
    margin-top: 10px;
    font-size: larger;
}
#question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#question-text {
    font-size: larger;
    font-weight: bold;
    box-shadow: 3px 3px 5px blue;
    font-family: 'Orbitron', cursive;
    margin: 20px 0 0;
    padding: 20px; 
    color: black;
    background-color: white;
}

.btn {
    font-size: larger;
    font-weight: bold;
    box-shadow: 2px 2px 5px blue;
    font-family: 'Orbitron', cursive;
    margin: 10px;
    padding: 10px;
    cursor: grab;
}

.btn:hover {
    background-color: yellow;
    padding: 15px;
}

.options {
    padding: 15px;
    order: 10;
}

.controls {
    padding: 15px;
    order: 4;
}

.hide {
    display: none;
}

#count {
    margin: 20px 0;
}
  