/*Basic style*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495_1280.jpg');
    font-size: 80%;
    font-family: 'Orbitron', cursive;
    color: white;
}
/*Header*/
.header-nav {
    height: 50px;
}
.header-container {
    margin: 0 auto;
    padding: 0 30px;
}
.header-container i {
color: white;
}
.header-container i:hover {

}
/*Game intro*/
.game-intro-flex, .game-intro {
    width: 100%;
    text-align: center;
}
.game-intro {
   /* border: solid 5px white;
    border-style: outset;*/
}
h1 {
    text-shadow: 2px 2px 5px blue;
    font-size: 70px;
    margin: 10px 0 20px;
}
h2 {
    text-shadow: 2px 2px 5px blue;
    font-size: 30px;
    margin: 10px 0 20px;
    letter-spacing: 2px;
}
p {
    margin: 10px auto;
    text-shadow: 2px 2px 5px blue;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 1.6;
}
/*Username input button*/
.username-form {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.username {
    margin: 10px 0;
    padding: 10px 0;
    font-family: 'Orbitron', sans-serif;
    width: 40%;
}
#submit-btn {
    margin: 10px 0;
    padding: 10px 0;
    font-family: 'Orbitron', sans-serif;
    width: 20%;
    background-color: rgb(163, 163, 239);
}
#submit-btn:hover {
    background-color: rgb(240, 122, 240);
}


  

  

.question-container {
    width: 800px;
    max-width: 80%;
    background-color: #8338EC;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn-trivia {
    background-color: #FB5607;
    border: 5px solid #3A86FF;
    border-radius: 7px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn-trivia:hover {
    border-color: #ffbe0b;
}

.btn-correct {
    background-color: rgb(50, 255, 50);
}
.btn-wrong {
    background-color: red;
}
.next-btn {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 10px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
#hide {
    display: none;
}
